/*Brandon Bosso & Marcus Bermel*/

#connect_four {
    width: 700px;
    height: 630px;
    border: solid black 2px;
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 100;
}

#behind_connect {
    width: 700px;
    height: 630px;
    border: solid black 2px;
    display: block;
    position: absolute;
    z-index: 0;
}

#game {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 630px;
    display: block;
}

#back-game {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 630px;
    display: block;
    margin-top: -630px;
}

#authors {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header {
    height: 100px;
}

#footer {
    margin-top: 1.5em;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4em;
    text-shadow: 5px 0px 10px white;
}

body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: #1B0A2A;
    color: white;
}